.main-content-quanlysach {
    flex: 1;
    background-color: #f4f6f8;
    display: flex;
    flex-direction: column;
}

.header-quanlysach {
    background-color: #2AA198;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.category-buttons-quanlysach {
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.search-section-quanlysach {
    margin: 8px;
    border: 2px solid #e5e7eb;
    padding: 10px;
}

.listhienthi-quanlysach {
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 5px;
    border: 1px solid #e5e7eb;
}

.search-options-quanlysach {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.search-box-quanlysach {
    width: 100%;
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
}

.data-table {
    border: 2px solid #9eabc7;
    width: 100%;
    padding: 5px;
    border-collapse: collapse;
    margin: 8px;
}

.data-table th {
    background-color: #4F46E5;
    color: white;
    padding: 12px;
    text-align: left;
}

.data-table tr:nth-child(even) {
    background-color: #EEF2FF;
}

.data-table tr:hover {
    background-color: #e0f7fa;
    transition: background-color 0.3s;
}

.data-table td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
}

.footer {
    background-color: #009688;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.category-button-quanlysach {
    padding: 15px 40px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
    max-width: 200px;
}

.button-sach1 {
    background: linear-gradient(135deg, #3b3c69, #150aec);
}

.button-loaisach {
    background: linear-gradient(135deg, #558072, #06db97);
}

.button-tacgia {
    background: linear-gradient(135deg, #8ba83d, #c8d90b);
}

.button-nxb {
    background: linear-gradient(135deg, #633b3b, #fa0606);
}

.category-button-quanlysach:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    color: rgb(222, 247, 3);
}